.collapsible {
  background-color: #FED33F;
  color: white;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  /* min-width: 500px; */
  border: none;
  text-align: center;
  outline: none;
  font-size: large;
}

.active, .collapsible:hover {
  background-color: #FFF546;
}

.content {
  display: none;
  /* overflow: hidden; */
  width: 100%;
  overflow-x: auto;
  min-width: 500px;  
}

/* revealed */
/* .content_revealed {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */